<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel='stylesheet' href='./stylesheets/style.css' />
    <script src="https://cdn.jsdelivr.net/npm/less@4.1.1"></script>
</head>

<body class="add">
  <form>
    <div>
      <h1>添加记录</h1>
      <h2><a href="/">查看账单</a></h2>
    </div>
    <hr>
    <div class="input">
      <div class="item">
        <h3>事项</h3>
        <input type="text" name="task">
      </div>
      <div class="item">
        <h3>发生时间</h3>
        <input type="text" name="time">
      </div>
      <div class="item">
        <h3>类型</h3>
        <select name="type" id="">
          <option value="true">支出</option>
          <option value="false">收入</option>
        </select>
      </div>
      <div class="item">
        <h3>金额</h3>
        <input type="text" name="amount">
      </div>
      <div class="item">
        <h3>备注</h3>
        <textarea name="note" id=""></textarea>
      </div>
    </div>
    <button type="button">添加</button>
  </form>
  <script src="/javascripts/form-serialize.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/script.js"></script>
</body>

</html>