<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>注册</title>

    <link rel='stylesheet' href='./stylesheets/style.css' />
    <script src="https://cdn.jsdelivr.net/npm/less@4.1.1"></script>
</head>

<body class="register">
    <div class="auth-card">
        <h2>注册</h2>
        <form action="/register" method="post">
            <div class="form-alert alert d-none"></div>
            <input type="text" name="username" placeholder="用户名" required />
            <input type="password" name="password" placeholder="密码" required />
            <input type="password" name="confirm" placeholder="确认密码" required />
            <button type="submit">注册</button>
            <div style="margin-top: 15px;"><a href="/log">已有账户？点这里</a></div>
        </form>
    </div>
    <script src="/javascripts/form-serialize.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/script.js"></script>
</body>

</html>